@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<p> This is a vacation world so no internet services to avoid work or posting of unpermited Videos. After registration you will
    be given a line for contact purposes or emergency, which be given to you upon arrival.</p>
<p>If you can take pictures of yourself, nature and animals. Any picture of a person without permision will will be considered an act of crime.</p>
<p>What happens in Vegas stays in Vegas. Your privacy is our first priority.</p>
<center>
    <p><b> Enjoy your stay.</b></p>
</center>
