body{
	font-family:Arial;
	font-size: 12px;
}
#log{
	width:500px;
	height:500px;
	margin:auto;
	font-family:Arial;
	text-align: center;
	padding-top: 50px;
} 
#login{
	padding: 30px;
		border:1px solid #ccc;
	width:500px;

}

#header {
	background-color: #002a5f;
	color: #ffab3f;
	height: 60px;
}
#image{
		float: left;
	width:32px;
	height: 32px;
	padding-top: 10px;
	padding-left: 100px; 
	margin-left: 80px;
}
#link{
float:right;
		padding-top: 10px;
		padding-right: 200px;
}
#footer{
	background-color:666666;
	height:50px;
	color: white;
		border: 1px solid #ccc;

}
a{
	color: #ffab3f;
		text-decoration: none;

}
#csc{
	float: left;
	font-size: 20px;
		padding-top: 10px;


}